@{
    Layout = "../Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/bet.js"></script>

<h2>Your bets</h2>
<br />
<div class="col-sm-12">
    @if (ViewBag.UserBets.Count == 0)
    {
        <h1>You don't have any bets.
        <br />
        You can make them <a href="~/Views/Items/Index.cshtml">here</a></h1>
    }
    else
    {
        foreach (var bet in ViewBag.UserBets)
        {
            <div class="row bet">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="@bet.Item.Image" alt="image"/>
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <a>
                                <h2>@bet.Item.Name</h2></a>
                        </div>
                        <div class="row">
                            <p>@bet.Item.Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-4 row">
                    <div class="col-sm-2 no-padding">
                        Your bet: @(bet.UsersBet.Amout)
                    </div>
                    <div class="col-sm-2">
                        Highest bet: @(bet.HighestBet.Amout)
                    </div>
                    <div class="col-sm-4">
                        Time to end: <span class="timer" time="@(bet.Item.DueDateTime)"></span>
                    </div>
                    <div class="col-sm-4">
                        Seller: @GetFormatedSeller(bet.Account)
                    </div>
                </div>
            </div>
        }
    }
</div>

@helper GetFormatedSeller(Account account)
{
    <a href="/Feedbacks/Create/@account.Id">
        <span>@($"{account.FirstName} {account.LastName}")</span>
    </a>
    <br />
    if (account.Rate != null)
    {
        for (int i = 0; i < account.Rate.Value; i++)
        {
            <span class="glyphicon glyphicon-star"></span>
        }
    }
}
