@using WebSite.Models
@{
    Layout = "../Shared/_Layout.cshtml";
}
@{
    BetViewModel data = (BetViewModel)ViewData["usersBets"];
}
<div class="col-sm-4"></div>
<div class="col-sm-8">
    @foreach (var item in data.Items)
    {
        <div class="row">
            <div class="row">
                <div class="col-sm-1">
                    <img src="" alt="image"/>
                </div>
                <div class="col-sm-9">
                    <div class="row">
                        <a>
                            <h2>@item.Name</h2></a>
                    </div>
                    <div class="row">
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    Your bet: @data.UsersBets.Where(x => x.ItemId == item.Id).Select(x => x.Amout)
                </div>
                <div class="col-sm-2">
                    Highest bet: @(data.HighestBets.FirstOrDefault(x => x.Id == item.Id)?.Value)
                </div>
                <div class="col-sm-4">
                    Time to end: timer
                </div>
                <div class="col-sm-4">
                    Seller: @GetFormatedName(data.Accounts, item.Id) + stars
                </div>
            </div>
        </div>
    }
</div>

@helper GetFormatedName(List<Account> accounts, Guid id)
{
    var user = accounts.First(x => x.Id == id);
    <span>@($"{user.FirstName} {user.LastName}")</span>
}
