@model WebSite.Item

@{
    ViewBag.Title = "Lot deatils";
}

<h2>Details</h2>

<div class="create-item-form">
    <div class="col-sm-2">
            <a class="btn btn-default" href="/Items"><span class="glyphicon glyphicon-chevron-left"></span>Back</a>
    </div>
    <div class="col-sm-10">
        <div class="row form-group">
            <div class="col-sm-5 text-center">
                <img id="item-image" src="@Model.Image" alt="image"/>
            </div>
            <div class="col-sm-7 description-container">
                <div class="row form-group">
                    <div class="col-sm-4 no-padding">
                        Name
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static no-padding" type="text">@Model.Name</p>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-4 no-padding">
                        Category
                    </div>
                    <div class="col-sm-8">
                        <p class="form-control-static no-padding" type="text">@Model.Category.Name</p>
                    </div>
                </div>

                @foreach (var feature in Model.Specifications)
                {
                    <div class="row form-group">
                        <div class="col-sm-4 no-padding">
                            @feature.CategoryFeature.Name
                        </div>
                        <div class="col-sm-8">
                            <p class="form-control-static no-padding" type="text">@feature.SelectedValue</p>
                        </div>
                    </div>
                }

                <div class="form-group row">
                    <div class="col-sm-4 no-padding">
                        Current highest bet
                        <span class="glyphicon glyphicon-fire"></span>
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static no-padding" type="text">@(Model.Bet != null ? Model.Bet.Amout.ToString() : "No bets for this item")</p>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-4 no-padding">
                        Aviable to
                    </div>
                    <div class="col-md-8">
                        <p class="form-control-static no-padding" type="text">@Model.DueDateTime</p>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-4 no-padding">
                        General description
                    </div>
                    <div class="col-sm-8">
                        <p class="form-control-static no-padding" type="text">@Model.Description</p>
                    </div>
                </div>
                @if (Model.DueDateTime > DateTime.Now)
                {
                    <div class="make-bet-form row form-group">
                        <div class="col-sm-4 no-padding">
                            Your bet
                        </div>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" required id="user-bet" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

@if (Model.DueDateTime > DateTime.Now)
{

    <div class="form-group row">
        <div class="col-sm-offset-4 col-md-8">
            <div class="col-sm-offset-4 col-sm-8">
                <input type="button" value="Make a bet" class="btn btn-primary create-btn" onclick="makeABet('@Model.MinBet', @(Model.Bet == null ? "null" : Model.Bet.Amout.ToString()), '@Model.Id')"/>
            </div>
        </div>
    </div>
}
</div>

<script type="text/javascript" src="~/Scripts/bet.js"></script>

