@model IEnumerable<WebSite.Item>

@{
    ViewBag.Title = "Aviable auctions";
}

<script type="text/javascript" src="~/Scripts/items.js"></script>

<h2>Products for sale</h2>

<div class="col-sm-4">
    <div class="row filters">
        <div class="text-center caption">
            <h1>Filters</h1>
        </div>
        <div class="col-sm-12 categories">
            <h2>Categories</h2>
            @foreach (var category in ViewBag.Categories)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="row" value="@category.Id" onchange="getFeatures()"/>
                        @category.Name
                    </label>
                    <br/>
                </div>
            }
        </div>
        
        <div class="col-sm-12">
            <div class="target"></div>
        </div>
        
        <div class="filter-button">
            <input class="btn btn-primary btn-md" type="button" onclick="filter()" value="Filter" />
            <input class="btn btn-primary btn-md" type="button" onclick="clearFilter()" value="Clear filter" />
        </div>
    </div>
</div>

<div class="col-sm-offset-1 col-sm-7">
    <div class="row hottest">
        <div class="caption">
            <h1>Hottest</h1>
        </div>
        <div class="horizontal-scroll-wrapper">
            <ul>
                @foreach (var item in ViewBag.Hottest)
                {
                    <li>
                        <a href="/Items/Details/@item.Id">
                            <img src="@item.Image" alt="image" />
                            <div class="">
                                <span class="image-caption">@item.Name</span>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>
        <hr />
    </div>
    
    <div class="item-target">
        @Html.Partial("ItemsView")
    </div>
    @*@foreach (var category in ViewBag.ByCategories)
    {
        <br />
        <div class="row">
            <div class="caption">
                <h1>The hottest in @category.Key</h1>
            </div>
            <div class="horizontal-scroll-wrapper">
                <ul>
                    @foreach (var item in (List<Item>)category.Value)
                    {
                        <li>
                            <img src="@item.Image" alt="image" />
                            <div class="">
                                <span class="image-caption">@item.Name</span>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }*@

</div>