@foreach (var item in ViewBag.Items)
{
    <div class="row items-all">
        <div class="row">
            <a href="/Items/Details/@item.Id">
                <div class="col-sm-4">
                    <img src="@item.Image" alt="image" />
                </div>
                <div class="col-sm-8 description-block">
                    <div class="row">
                        <h2>@item.Name</h2>
                    </div>
                    <div class="row">
                        @item.Description
                    </div>
                </div>
            </a>
        </div>
        <div class="row">
            <div class="col-sm-2">
                Your bet:
            </div>
            <div class="col-sm-2">
                Highest bet: @item.HighestBet
            </div>
            <div class="col-sm-4">
                Time to end: <span class="timer" time="@item.DueTo"></span>
            </div>
            <div class="col-sm-4">
                Seller: @item.SellerName
                <br />
                @if (item.SellerRating != null)
                {
                    for (int i = 0; i < item.SellerRating; i++)
                    {
                        <span class="glyphicon glyphicon-star"></span>
                    }
                }
            </div>
        </div>
    </div>
<hr/>
}